<header class="flex-header">
    <div class="container-90">
        <img src="../assets/images/viverae-logo.png" alt="" width="60" [routerLink]="['/']" class="pointer">
        <h1>SimplyWell UI Components Styleguide</h1>
        <a class="pointer text-white">
            <i class="viverae-icon-font icon-app_lock text-white font-24px"></i>
        </a>

        <!-- <div class="col-xs-9 nopadding"> -->
            <!-- <img src="../assets/images/viverae-logo.png" alt="" width="60" [routerLink]="['/']" class="pointer"> -->
        <!-- </div> -->
        <!-- <div class="col-xs-3 nopadding text-right"> -->
            <!-- <a class="pointer text-white"> -->
                <!-- <i class="viverae-icon-font icon-app_lock text-white font-24px"></i> -->
            <!-- </a> -->
        <!-- </div> -->
    </div>
</header>
