<section class="introduction">
	<div class="styleguide-view-details">
		<div class="row">
			<div class="col-xs-12">
				<h2>Introduction</h2>
				<p>Well-defined standards provide a consistent experience that engages members and motivates employers to create cultures of health and well-being..</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Template</h2>
			<p>Displays when there is a primary function within a view.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h4>Usage</h4>
			<p>Use as the main call to action.
				May also be styled in black when used on a light, solid color such as yellow.</p>
		</div>
		<div class="col-xs-6">
			<h4>Behavior</h4>
			<p>Initiates intended action.
				Can be disabled when required inputs are not completed.
				Theming applies to color.</p>
		</div>
	</div>

</section>
