<section>
    <styleguide-view-details title="Panel">
        <div details-overview>
            For grouping content onto a panel which sits on top of the background
        </div>
        <div details-usage>
            Panel stuff...
        </div>
        <div details-behavior>
            Panel stuff...
        </div>
    </styleguide-view-details>
    <div class="spacer-2rem"></div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="nomargin">Basic Usage:</h3>
            <hr class="secondary">
            <div class="spacer-2rem"></div>
            <ui-panel>
                <h3>Hello world I am a SimplyWell Panel! :P</h3>
            </ui-panel>
            <div class="spacer-2rem"></div>
            <h4 class="nomargin">Code snippet:</h4>
            <hr class="secondary">
            <gh-gist src="https://gist.github.com/codyw9524/18351a1833891ca59716c579d59a1e0e.js"></gh-gist>
            <div class="spacer-2rem"></div>
            <h3 class="nomargin">Borders</h3>
            <p>A Primary or Secondary colored border can be applied to the card by using the appropriate inputs</p>
            <div class="spacer-2rem"></div>
            <ui-panel borderPrimary>
                <h3>I have a Primary color top border!</h3>
            </ui-panel>
            <div class="spacer-2rem"></div>
            <ui-panel borderSecondary>
                <h3>I have a Secondary color top border!</h3>
            </ui-panel>
            <div class="spacer-2rem"></div>
            <h4 class="nomargin">Code snippet:</h4>
            <hr class="secondary">
            <gh-gist src="https://gist.github.com/codyw9524/cfc23d2844f748cd14efe8ee5c609597.js"></gh-gist>
            <div class="spacer-2rem"></div>
        </div>
    </div>
</section>