.styleguide {
	header {
		margin-bottom: 2rem;
		border-bottom: 5px solid $color-primary-blue;
	}

	.directory {
		.row {
			&:first-child {
				margin-top: 0.5rem;
			}
		}
		.nav-tile {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 95%;
			min-height: 40px;
			margin: 0 1rem 1rem 0;
			border: 1px solid $color-grey-one;
			font-size: 1rem;
			text-align: center;
			&:hover {
				background-color: $color-primary-blue;
				color: $white;
				cursor: pointer;
			}
			&.active {
				background-color: $color-primary-blue;
				color: $white;
				cursor: pointer;
			}
		}
	}

	.iconography {
		i {
			padding: 1rem;
			line-height: 3rem;
			float: left;
			cursor: pointer;
		}
		.copied {
			height: 2rem;
			padding: 3px 15px;
			transition: opacity 0s linear 0s;
			border-radius: 4px;
			opacity: 0;
			background-color: $color-primary-blue;
			color: $white;
			&.active {
				transition: opacity 0.5s ease-in-out 0s;
				opacity: 1;
			}
		}
		.examples {
			ui-icon {
				display: block;
				float: none;
			}
		}
	}

	.styleguide-view-details {
		margin: 2rem 0;
	}
}

.pre {
	font-family: monospace;
	white-space: pre;
	border-radius: 5px;
	border: 1px solid $color-primary-grey-light;
	padding: 2rem 1rem;
	background-color: $color-primary-grey-xxtralight;
	overflow: hidden;
	overflow-x: auto;
}

.styleguide-content-container {
	display: flex;
	// flex: 1 1 auto;
	// flex: 1;
	width: 100%;
	flex-direction: column;
	overflow-x: scroll;
	min-width: 0;
}