// Placeholder - Use them - best practices for fonts
%font-rendering {
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	text-transform: none;
	speak: none;
}

h1, h2, h3, h4, h5, h6, p, button {
	@extend %font-rendering;
}

h1 {
	font-family: $font-primary-thin;
}

h2, h3 {
	//font-family: $font-primary-light;
}

h4 {
	font-family: $font-primary-semibold;
}

h5 {
	font-family: $font-primary-light;
}
h6 {
	font-family: $font-primary;
}


h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}
