<simplywell-header-flex></simplywell-header-flex>
<div class="">
    <router-outlet></router-outlet>
</div>
<component-footer></component-footer>
<!-- off canvas global components -->
<ui-toast></ui-toast>


<!-- do we need these components below? -->

<!-- <processing-overlay></processing-overlay> -->
<!-- <component-sidebar [status]="sidebarStatus"></component-sidebar> -->
<!-- <component-backdrop [style]="backdropStyle" [status]="backdropStatus"></component-backdrop> -->
<!-- <component-modal [size]="modalSize" [status]="modalStatus"></component-modal> -->