<section class="grid">
    <styleguide-view-details title="Grid Framework">
        <div details-overview>
            A 12 column grid system for organizing html content
        </div>
        <div details-usage>
            Used to position HTML content
        </div>
        <div details-behavior>
            It works like bootstrap xD
        </div>
    </styleguide-view-details>

    <div class="row">
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
        <div class="col-xs-1 grid-box">col-xs-1</div>
    </div>
    <div class="row">
        <div class="col-xs-3 grid-box">col-xs-3</div>
        <div class="col-xs-3 grid-box">col-xs-3</div>
        <div class="col-xs-3 grid-box">col-xs-3</div>
        <div class="col-xs-3 grid-box">col-xs-3</div>
    </div>
    <div class="row">
        <div class="col-xs-6 grid-box">col-xs-6</div>
        <div class="col-xs-6 grid-box">col-xs-6</div>
    </div>
    <div class="row">
        <div class="col-xs-12 grid-box">col-xs-12</div>
    </div>
    <div class="spacer-2rem"></div>
    <div class="row">
        <h3 class="nomargin">Code Snippet:</h3>
        <hr class="secondary">
        <div>
            <gh-gist src="https://gist.github.com/codyw9524/bc12bbcb2275e501219682aaed1075db.js"></gh-gist>
        </div>
    </div>

</section>