<nav class="nav-side">
    <ul>
        <li [routerLink]="['intro']" routerLinkActive="active">
            Introduction
        </li>
        <li [routerLink]="['grid']" routerLinkActive="active">
            Grid
        </li>
        <li [routerLink]="['typography']" routerLinkActive="active">
            Typography
        </li>
        <li [routerLink]="['iconography']" routerLinkActive="active">
            Iconography
        </li>
        <hr class="secondary">
        
        <li [routerLink]="['buttons']" routerLinkActive="active">Buttons</li>
        <li [routerLink]="['form-checkbox']" routerLinkActive="active">Checkbox</li>
        <li [routerLink]="['data-table']" routerLinkActive="active">Data Table</li>
        <li [routerLink]="['datepicker']" routerLinkActive="active"> Datepicker</li>
        <li [routerLink]="['fullscreen-modal']" routerLinkActive="active"> Fullscreen Modal</li>
        <li [routerLink]="['form-input']" routerLinkActive="active">Input</li>
        <li [routerLink]="['form-textarea']" routerLinkActive="active">Text Area</li>
        <li [routerLink]="['loaders']" routerLinkActive="active">Loaders</li>
        <li [routerLink]="['modals']" routerLinkActive="active"> Modals</li>
        <li [routerLink]="['overflow-menu']" routerLinkActive="active"> Overflow menu</li>
        <li [routerLink]="['panel']" routerLinkActive="active">Panel</li>
        <li [routerLink]="['form-radiobutton']" routerLinkActive="active">Radio Buttons</li>
        <li [routerLink]="['selects']" routerLinkActive="active"> Selects</li>
        <li [routerLink]="['selectors']" routerLinkActive="active">Selectors</li>
        <li [routerLink]="['tags']" routerLinkActive="active">Tags</li>
        <li [routerLink]="['toasts']" routerLinkActive="active"> Toasts</li>
        <li [routerLink]="['tooltips']" routerLinkActive="active"> Tooltips</li>
 <!-- <li [routerLink]="['coach-tip']" routerLinkActive="active">
            Coach Tip
        </li> -->
        <!-- <li [routerLink]="['progress-indicator']" routerLinkActive="active">
            Progress Indicator
        </li> -->
        <!--<li (click)="sectionDisplay('Web Navigation');" [ngClass]="{'active':sectionDisplayed === 'Web Navigation'}">-->
            <!--Web Navigation <i class="viverae-icon-font" [ngClass]="{'icon-directional_chevron-up':sectionDisplayed === 'Web Navigation', 'icon-directional_chevron-down':sectionDisplayed !== 'Web Navigation'}"></i>-->
            <!--<ul class="nav-side-sub" [ngClass]="{'active':sectionDisplayed === 'Web Navigation'}">-->
                <!--<li>Overview</li>-->
                <!--<li>Global</li>-->
                <!--<li>Left Nav (done/this)</li>-->
                <!--<li>Tabs</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li>Full Screen-->
            <!--<ul class="nav-side-sub">-->
                <!--<li>Overview</li>-->
                <!--<li>Global</li>-->
                <!--<li>Left Nav</li>-->
                <!--<li>Tabs</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li>Backdrops</li>-->
        <!--<li>Overlays</li>-->

        <!--<li (click)="sectionDisplay('Modals');" [ngClass]="{'active':sectionDisplayed === 'Modals'}">-->
            <!--Modals-->
        <!--</li>-->
        <!--<li (click)="sectionDisplay('Sidebar');" [ngClass]="{'active': sectionDisplayed === 'Sidebar'}">Sidebar</li>-->
        <!--<li>Tables-->
            <!--<ul class="nav-side-sub active">-->
                <!--<li>Plain</li>-->
                <!--<li>Services</li>-->
                <!--<li>Events</li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
    <hr class="secondary">
    <ul>
        <li>sidebar</li>
        <li>backdrop</li>
        <li>processing</li>
        <li>responsive</li>
    </ul>
</nav>