<footer>
    <div class="container-90">
        <div class="footer">
            <div class="row">
                <div class="col-sm-6 col-xs-12 nopadding-left">
                    <div class="copy">Copyright &copy; 2018 SimplyWell, Inc.</div>
                    <!--<ul>-->
                        <!--<li class="pointer"><a (click)="logout();">Logout</a></li>-->
                    <!--</ul>-->
                </div>
                <div class="col-sm-6 col-xs-12 nopadding">
                    <div class="footer-logo"></div>
                </div>
            </div>
        </div>
    </div>
</footer>